<!-- FILEPATH: /home/sociabot-front/src/app/modules/students/components/home/home.component.html -->

<div class="tw-flex tw-flex-col tw-items-center tw-justify-center  tw-bg-gray-100" style="height: 80vh;">
  <h1 class="tw-text-4xl tw-font-bold tw-text-gray-800 tw-mb-4">¡Bienvenido a nuestra aplicación SociaBot!</h1>
  <p class="tw-text-lg tw-text-gray-600 tw-mb-8">Empiece a explorar y aproveche al máximo su experiencia de aprendizaje</p>
  <button class="tw-px-4 tw-py-2 tw-bg-blue-500 tw-text-white tw-rounded tw-hover:bg-blue-600" (click)="redirect()">Registrate en un curso</button>
</div>
