
@import '../../../../../assets/styles/variables.css';

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-gradient);
    padding-top: 5dvh;
    padding-bottom: 5dvh;
}

.title-text{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #d9ba87;
    text-decoration-thickness: 3px;
    text-decoration-style: wavy;
    text-underline-offset: 5px;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 60dvw;
}

.container .forms{
    display: flex;     
    width: 100%;
    align-items: center;
    transition: height 0.2s ease;
}

.container .form{
    padding: 30px;
    width: 100%;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    opacity: 0;     
    width: 40dvw;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

mat-icon{
    cursor: pointer;
}

.container.active .forms{
    height: 600px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: var(--tertiary-color);
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 45px;
    width: 100%;
}

.mat-form-field{
    margin-top: 15px;
    width: 100%;

}

.mat-form-field input{
    padding-top: 0%;
}


.form .checkbox-text{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: var(--quaternary-color);
    cursor: pointer;
}

small{
    color: red;
}

.form a:hover{
    text-decoration: underline;
    transform: scale(1.05); 
}

.form .button{
    display: block;
}

.form .button input:hover{
    transform: scale(1.05); 
}


.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin-top: 40px;
    letter-spacing: 1px;
    border-radius: 6px;
    background: var(--button-gradient);
    cursor: pointer;
}

.form .button input:disabled{
    color: var(--disabled-color);
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}


.form .login-signup{
    margin-top: 50px;
    text-align: center;
}

.signup-link{
    cursor: pointer;
}

.container-names {
    display: grid;
    grid-column-gap: 20px; 
    grid-template-columns: 1fr 1fr;
  }



  @media only screen and (max-width: 1200px) {
    .container-names {
        grid-template-columns: 1fr;
      }

      .body{
        overflow: hidden;
        display: flex;
        align-items: center;
        padding-top: 5dvh;
        padding-bottom: 5dvh;
        justify-content: center;
        background: var(--background-gradient);
    }

    .container{
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        overflow: hidden;
        width: 60dvw;
    }
    
    .container .forms{
        display: flex;     
        width: 100%;
        align-items: center;
        transition: height 0.2s ease;
    }
    
    .container .form{
        padding: 30px;
        width: 60dvw;
        background-color: #fff;
        transition: margin-left 0.18s ease;
    }
    
    .container.active .login{
        opacity: 0;     
        width: 60dvw;
        transition: margin-left 0.18s ease, opacity 0.15s ease;
    }
  }
@media only screen and (max-width: 900px) {

    .container-names {
        grid-template-columns: 1fr;
      }

    .body{
        padding-top: 5dvh;
        padding-bottom: 5dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-gradient);
    }

    .container{
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        overflow: hidden;
        width: 60dvw;
    }
    
    .container .forms{
        display: flex;     
        width: 100%;
        align-items: center;
        transition: height 0.2s ease;
    }
    
    .container .form{
        padding: 30px;
        width: 60dvw;
        background-color: #fff;
        transition: margin-left 0.18s ease;
    }
    
    .container.active .login{
        opacity: 0;     
        width: 60dvw;
        transition: margin-left 0.18s ease, opacity 0.15s ease;
    }
}


@media only screen and (max-width: 700px) {

    .container-names {
        grid-template-columns: 1fr;
      }
    .body{
        padding-top: 5dvh;
        padding-bottom: 5dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-gradient);
    }
    
    .container{
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        overflow: hidden;
        width: 90dvw;
    }
    
    .container .forms{
        display: flex;     
        width: 100%;
        align-items: center;
        transition: height 0.2s ease;
    }
    
    .container .form{
        padding: 30px;
        width: 100%;
        background-color: #fff;
        transition: margin-left 0.18s ease;
    }
    
    .container.active .login{
        opacity: 0;     
        width: 90dvw;
        transition: margin-left 0.18s ease, opacity 0.15s ease;
    }
}