<div class="body">
  <div class="container">
    <div class="forms">
      <div class="form login">
        <div class="img-titulo">
          <span class="title">Inicio de sesión</span>
        </div>
        <div>
          <form [formGroup]="loginFormGroup" (ngSubmit)="callLogin()">
            <div class="field-container">
              <mat-form-field appearance="fill" class="mat-form-field">
                <input
                  formControlName="email"
                  class="input"
                  matInput
                  placeholder="Email"
                  [ngClass]="{
                    'is-invalid':
                      (loginFormGroup.get('email')?.hasError('required') &&
                        loginFormGroup.get('email')?.touched) ||
                      loginFormGroup.get('email')?.hasError('pattern'),
                    'is-valid':
                      loginFormGroup.get('email')?.touched &&
                      loginFormGroup.get('email')?.hasError('pattern') == false
                  }"
                />
                <div
                  class="validators"
                  *ngIf="
                    loginFormGroup.get('email')?.hasError('required') &&
                    loginFormGroup.get('email')?.touched
                  "
                >
                  <small>¡Este campo es requerido!</small>
                </div>
                <div
                  class="validators"
                  *ngIf="
                    loginFormGroup.get('email')?.hasError('pattern') &&
                    loginFormGroup.get('email')?.touched
                  "
                >
                  <small>¡El campo no coincide con un formato de correo válido!</small>
                </div>
                <mat-icon
                  matIconPrefix
                  svgIcon="iconMail"
                  aria-hidden="false"
                ></mat-icon>
              </mat-form-field>
            </div>
            <div class="field-container">
              <mat-form-field appearance="fill" class="mat-form-field">
                <mat-icon matIconPrefix svgIcon="iconLock"></mat-icon>
                <input
                  [type]="hide ? 'password' : 'text'"
                  class="input"
                  maxlength="20"
                  matInput
                  formControlName="password"
                  placeholder="Contraseña"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon
                    [svgIcon]="hide ? 'iconEyeOff' : 'iconEyeOn'"
                  ></mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="checkbox-text">
              <a (click)="forgotPassword()" class="text"
                >Olvidé mi contraseña</a
              >
            </div>

            <div class="input-field button">
              <input type="submit" value="Iniciar Sesión" />
            </div>
          </form>
        </div>

        <div class="login-signup">
          <span class="text"
            >¿No estás registrado?
            <a
              (click)="openSignUp()"
              [ngSwitch]="index"
              class="text signup-link"
              >Regístrate ahora
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
