<p-toast key="informationToast"></p-toast>
<div class="tw-flex tw-justify-center ">
    <p-card header="Unirse a un curso" subheader="Ingresa el código proporcionado por tu profesor" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <div class="tw-flex tw-items-center tw-justify-center tw-w-full">
            <input class="tw-shadow tw-appearance-none tw-border tw-rounded tw-w-full tw-py-2 tw-px-3 tw-text-gray-700 tw-leading-tight tw-focus:outline-none tw-focus:shadow-outline" id="license" type="text" placeholder="ABCD-1234" [(ngModel)]="licenseKey">
        </div>
        <ng-template pTemplate="footer">
            <p-button label="Ingresar" class="tw-text-white" icon="pi pi-check" (onClick)="joinCourse()"></p-button>
            <!-- <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary"
                [style]="{ 'margin-left': '.5em' }"></p-button> -->
        </ng-template>
    </p-card>
</div>