<h1 class="tw-text-4xl tw-font-bold tw-mb-6 tw-flex tw-flex-col tw-items-center tw-justify-center">Módulos y temas del curso</h1>
<div class="card">
  <div class="tw-grid tw-grid-cols-2 tw-gap-5">
    @for (item of modules; track $index) {
    <p-card [header]="item.name" >
      <h4>Objetivos</h4>
      <p style="text-align: justify;">
        {{ item.goals }}
      </p>
      <ng-template pTemplate="footer">
        <p-button class="tw-text-white" label="Ver chats" icon="pi pi-folder-open"
        [routerLink]="[item.id+'/chats']"></p-button>
        <!-- <p-button label="Salir" icon="pi pi-times" styleClass="p-button-danger" [style]="{ 'margin-left': '.5em' }"></p-button> -->
      </ng-template>
    </p-card>
    }
  </div>

</div>
<p-toast key="informationToast"></p-toast>