<div class="card">
      
    <div class="table">
      <p-table [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [value]="modules"
        [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Módulo o tema</th>
            <th>Objetivos</th>
            <!-- <th>Estado</th> -->
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns">
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.goals }}</td>
            <!-- <td>{{ product.code }}</td> -->
            <!-- <td>
                <p-tag
                  [value]="product.status ? 'Activo' : 'Inactivo'"
                  [severity]="getSeverity(product.status)"
                ></p-tag>
              </td> -->
            <td>
              <button
                  pButton
                  pRipple
                  pTooltip="Ver chats"
                  tooltipPosition="top"
                  icon="pi pi-folder-open"
                  class="p-button-rounded p-button-success margin-button tw-mr-1"
                  [routerLink]="[product.id+'/chats']"
                ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-toast key="informationToast"></p-toast>
