<p-toast key="informationToast"></p-toast>
@if (spinnerStatus) {
<loading></loading>
}
<p-confirmDialog></p-confirmDialog>
<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <div class="flex justify-content-center">
        <form [formGroup]="formGroup">
          <p-selectButton
            (onChange)="handleChange($event)"
            [unselectable]="true"
            [options]="stateOptions"
            formControlName="status"
            optionLabel="label"
            optionValue="value"
          ></p-selectButton>
        </form>
      </div>
    </ng-template>

    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Nuevo Curso"
        icon="pi pi-plus"
        (click)="openDialogAddCourse()"
        style="color: white;"
        class="p-button-success margin-button"
      ></button>
      <button
        pButton
        hidden
        pRipple
        (click)="exportToExcel()"
        label="Exportar"
        style="color: white;"
        icon="pi pi-upload"
        class="p-button-help"
      ></button>
    </ng-template>
  </p-toolbar>
  <div class="table">
    <p-table
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [value]="courses"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Código</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-course let-columns="columns">
        <tr>
          <td>{{ course.name }}</td>
          <td>{{ course.description }}</td>
          <td><p-tag [value]="course.code" severity="info"></p-tag></td>
          <td>
            <p-tag
              [value]="course.status ? 'Activo' : 'Inactivo'"
              [severity]="getSeverity(course.status)"
            ></p-tag>
          </td>
          <td>
            @if (course.status) {
            <button
              pButton
              pRipple
              (click)="openDialogStudent(course.id, course.name)"
              pTooltip="Ver Alumnos"
              style="color: white;"
              tooltipPosition="top"
              icon="pi pi-users"
              class="p-button-rounded p-button-info margin-button"
            ></button>
            }
            <button
              pButton
              pRipple
              style="color: white;"
              (click)="
                openDialogEditCourse(course.name, course.description, course.id)
              "
              pTooltip="Editar curso"
              tooltipPosition="top"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success margin-button"
            ></button>
            <button
              pButton
              style="color: white;"
              pRipple
              (click)="
                activaOrDesactivateCourse(course.status, $event, course.id)
              "
              [pTooltip]="course.status ? 'Desactivar curso' : 'Activar curso'"
              tooltipPosition="top"
              [icon]="iconActions()"
              class="p-button-rounded p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
